data/
*.exe
node_modules
.env
frontend/cache
openmp.sublime-workspace
openmp.sublime-project
*.bleve
prisma/Studio/
*.db
.task
.vercel
# Sublime Text
*.sublime-project
*.sublime-workspace
# Visual Studio
*.wsuo
VSWorkspaceState.json