*                                                                               @openmultiplayer/wiki
/docs/translations/pt/                                                          @iPollo
/docs/translations/th/                                                          @aktah
/docs/translations/id/                                                          @rsetiawan7
/docs/translations/ro/                                                          @andreieurt
