*                                                                               @openmultiplayer/web
/docs/translations/pt/                                                          @iPollo
/docs/translations/th/                                                          @aktah
/docs/translations/id/                                                          @rsetiawan7 @se8870 @foxcovitsch
/docs/translations/ro/                                                          @andreieurt
/docs/translations/tr/                                                          @lilAmper @Opysium
/docs/translations/bs/                                                          @daddyDOT @GalardoDev
/docs/translations/sr/                                                          @TerzicScript
/docs/translations/ph/                                                          @XomoX
/docs/translations/fr/                                                          @sampben
/docs/translations/es/                                                          @Woscript
/docs/translations/tl/                                                          @MySekwel
/docs/translations/zh-cn/                                                       @YuCarl77
/docs/translations/zh-tw/                                                       @Kamirai
/docs/translations/sl/                                                          @esh4ll0n
/docs/translations/ar-TN/                                                       @ImOver00
/docs/translations/pl/                                                          @debugitz
