*                                                                               @openmultiplayer/wiki
/docs/translations/pt/                                                          @iPollo
/docs/translations/th/                                                          @aktah
