version: "3"

services:
  postgres:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./data/openmp-index/postgres:/var/lib/postgresql/data

  minio:
    image: minio/minio
    command: server /data
    restart: always
    environment:
      MINIO_ACCESS_KEY: default
      MINIO_SECRET_KEY: password
    ports:
      - 9000:9000
    volumes:
      - ${DATA_DIR}/openmp-index/minio:/data
    networks:
      - default
    labels:
      traefik.enable: "true"
      traefik.docker.network: gateway
      traefik.http.routers.omp_index_minio.rule: Host(`assets.open.mp`)
      traefik.http.routers.omp_index_minio.entrypoints: https
      traefik.http.routers.omp_index_minio.tls.certresolver: default

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: u@e.com
      PGADMIN_DEFAULT_PASSWORD: default
    ports:
      - 8081:80
