global:
  scrape_interval: 5s
  evaluation_interval: 5s
scrape_configs:
  - job_name: index
    scrape_interval: 5s
    dns_sd_configs:
      - names:
          - index
        type: "A"
        port: 80
