/*
  Notes:

  English Grotesque is the primary brand typeface for headings 1, 2, 3 and 4.
  Paragraphcs should use the sans serif default stack from `body`.
*/

@import "./fonts.css";
@import "./starry-night.css";

body {
  color: #000;
  background: #fefefe;
}

/* Necessary to prevent overflow issues in flexbox. */
:not(pre) > code {
  background-color: var(--ifm-code-background);
  border-radius: var(--ifm-code-border-radius);
  color: var(--ifm-code-color);
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--ifm-code-font-size);
  margin: 0;
  padding: var(--ifm-code-padding-vertical) var(--ifm-code-padding-horizontal);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-bottom: 1rem;
  margin-top: 0;
  overflow: auto;
  width: 100%;
}

table tr {
  background-color: transparent;
  border-top: 1px solid #dadde1;
}

table tr:nth-child(2n) {
  background-color: #f5f6f7;
}

table td,
table th {
  border: 1px solid #dadde1;
  padding: 0.75rem;
}

table th {
  background-color: inherit;
  color: inherit;
  font-weight: 700;
}

table td {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background: var(--chakra-colors-gray-800);
  }
}

details > summary {
  cursor: pointer;
}
