.card {
  min-height: 320px;
  border-radius: 15px;
  box-shadow: 0px 0px 40px 8px rgba(134, 119, 206, 0.05);
}
}
.announcement {
  background: linear-gradient(
    98.18deg,
    #f7f7f7 -5.01%,
    rgba(247, 247, 247, 0) 100.73%
  );
  box-shadow: 0px 0px 40px 8px rgba(134, 119, 206, 0.05);
  border: 1px solid rgba(134, 119, 206, 0.445);
  border-radius: 8px;

  padding: 0.8em 2em;
}
