.hero {
  background-image: url("/images/assets/map.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 90%;
  margin: auto;
  border-radius: 15px;
}
