/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #9083d2;
  --ifm-color-primary-dark: #8275c0;
  --ifm-color-primary-darker: #7a6eb8;
  --ifm-color-primary-darkest: #685da1;
  --ifm-color-primary-light: #9e91e4;
  --ifm-color-primary-lighter: #a79aeb;
  --ifm-color-primary-lightest: #b8acf4;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-button-font-weight: 600;

  background-image: url(/images/assets/map.png);
  background-size: cover;
  background-attachment: fixed;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #a393f4;
  --ifm-color-primary-dark: #9384db;
  --ifm-color-primary-darker: #8b7cd2;
  --ifm-color-primary-darkest: #7467b2;
  --ifm-color-primary-light: #b3a3ff;
  --ifm-color-primary-lighter: #bdaeff;
  --ifm-color-primary-lightest: #cfc1ff;
  --ifm-navbar-background-color: #1a202c;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

html[data-theme="dark"] {
  --ifm-background-color: #1a202c;
  --ifm-background-surface-color: #1a202c;
}

.button--md {
  --ifm-button-size-multiplier: 1.1;
}
