/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * english-grotesque:
 *   - http://typekit.com/eulas/00000000000000003b9b1ab1
 *   - http://typekit.com/eulas/00000000000000003b9b1ab0
 * nimbus-sans:
 *   - http://typekit.com/eulas/00000000000000000001518d
 *   - http://typekit.com/eulas/000000000000000000010122
 * signo:
 *   - http://typekit.com/eulas/000000000000000000014a00
 *   - http://typekit.com/eulas/000000000000000000014a09
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-05-29 20:04:22 UTC"}*/

@font-face {
  font-family: 'nimbus-sans';
  src: url('/fonts/nimbus-sans_400.woff2') format('woff2'),
    url('/fonts/nimbus-sans_400.woff') format('woff'),
    url('/fonts/nimbus-sans_400.opentype') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'nimbus-sans';
  src: url('/fonts/nimbus-sans_900.woff2') format('woff2'),
    url('/fonts/nimbus-sans_900.woff') format('woff'),
    url('/fonts/nimbus-sans_900.opentype') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'signo';
  src: url('/fonts/signo_700.woff2') format('woff2'), url('/fonts/signo_700.woff') format('woff'),
    url('/fonts/signo_700.opentype') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'signo';
  src: url('/fonts/signo_400.woff2') format('woff2'), url('/fonts/signo_400.woff') format('woff'),
    url('/fonts/signo_400.opentype') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'english-grotesque';
  src: url('/fonts/english-grotesque_700.woff2') format('woff2'),
    url('/fonts/english-grotesque_700.woff') format('woff'),
    url('/fonts/english-grotesque_700.opentype') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'english-grotesque';
  src: url('/fonts/english-grotesque_300.woff2') format('woff2'),
    url('/fonts/english-grotesque_300.woff') format('woff'),
    url('/fonts/english-grotesque_300.opentype') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 300;
}

.tk-nimbus-sans {
  font-family: 'nimbus-sans', sans-serif;
}
.tk-signo {
  font-family: 'signo', sans-serif;
}
.tk-english-grotesque {
  font-family: 'english-grotesque', sans-serif;
}
