name: Fly Deploy Backend

on:
  push:
    branches:
      - master
      - amir/remove-forum

env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
  deploy:
    name: Deploy backend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
        with:
          version: 0.1.101
      - run: flyctl deploy --remote-only --wait-timeout 300
