name: Test

on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "frontend/**"

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2-beta
      - uses: actions/checkout@v2
      - run: go get -v -t -d ./server
      - run: go run github.com/prisma/prisma-client-go generate

      - name: Test
        run: go test -v ./server/...
